<button routerLink="/">Back</button>
@if (note) {
<div id="note-container">
    <span class="note-id">{{note.id}}</span>
    <span class="note-title">{{note.title}}</span>
    <span class="note-text">{{note.text}}</span>
</div>
<button id="delete" (click)="delete()">Delete note</button>
}
