.notes {
    width: 80%;
}

.notes li {
    margin-bottom: 20px;
    list-style: none;
    padding: 0px;
    background-color: #ffff99;
    border-radius: 15px;
    text-align: left;
}

button {
    width: 100%;
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
}

.button {
    display: block;
    padding: 10px;
    width: 5%;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 10pt;
    border: none;
}