<div class="container">
    <nav>
        <button class="button" routerLink="./new">Add New</button>
    </nav>
    <ul class="notes">
        @for(note of notes; track $index){
            <li>
                <button [routerLink]="['/note', note.id]">
                <span class="note-title">{{ note.title }}</span>
                <span class="note-text">{{ note.text }}</span>
                </button>
            </li>
        }
    </ul>
</div>
