<div class="container">
  <button routerLink="/">Back</button>
  <h2>New Note</h2>
  <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
    <div>
      <label for="note-title">Title:
        <input id="note-title" formControlName="title" />
      </label>
    </div>
    <div>
      <label for="note-text">Text:
        <input id="note-text" formControlName="text" />
      </label>
    </div>
    <div>
      <button id="submit" type="submit" class="button" [disabled]="!addNoteForm.valid">
        Add note
      </button>
    </div>
  </form>
</div>